* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url('../assets/img_A/fondo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header {
  background-color: #F4F1EA;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(110vh - 60px);
  padding: 0 50px;
}

.hero-content {
  text-align: right;
  color: white;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-button {
  background-color: #F4F1EA;
  color: #3E2723;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.order-button i {
  margin-left: 10px;
}

.order-button:hover {
  background-color: #e5ddcd;
}
