body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

header {
    background-color: #F4F1EA;
    padding: 20px;
    margin-bottom: 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .datos{
  display: flex;
  align-items: center;
  background-color: #F4F1EA;
  color: rgb(0, 0, 0);
}

.logo {
  height: 100px;
  margin-right: 5px;
}

.cerrar-sesion button {
    padding: 8px 12px;
    background-color: #5b3e2b;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cerrar-sesion button:hover {
    width: 115px;
    height: 35px;
}

nav {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  background-color: #eee;
}

select {
  padding: 8px;
  font-size: 1em;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.tabla {
  flex: 1;
  min-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.grafica {
  flex: 2;
  min-width: 300px;
  background-color: white;
  padding: 20px;
}